body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
    background-image: url("https://cdn.glitch.global/fc6de9c3-3b09-4138-abd9-3523a30daef9/Copia%20de%20Copia%20de%20Presentaci%C3%B3n%20Plan%20de%20Negocio%20Restaurante%20Profesional%20Amarillo%20(4).png?v=1745979748127");

}

.container {
    max-width: 1000px;
    padding: 30px;
    height: 600px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}





header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header h1 {
    font-size: 26px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    flex-grow: 1;
}

header strong {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color:#ff8c00;
  
  
  
}


.back-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.back-icon:hover {
    color: #000000;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
    overflow-y: auto;
    height: 450px;
}

.product-box {
    border: none;
    padding: 20px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 9x 10px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

.product-box:hover {
    background-color: #f0f0f0;
    transform: translateY(-3px);
}

.product-info p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}

.product-info p strong {
    color: #000;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions .icon {
    font-size: 22px;
    color: #333;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
}

.actions .icon:hover {
    background-color: #eaeaea;
    transform: scale(1.1);
}

.add-category {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 50px;
    font-size: 24px;
    background-color: #ff8c00;
    color: white;
    padding: 12px 13px;
    border-radius: 60%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    text-align: center;
}

.add-category a {
    color: #ffffff;
    text-decoration: none;
}

.add-category a:hover {
    color: #ffffff;
}

.add-category:hover {
    background-color: #e67e00;
}