/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;

}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.orders-container {
    display: grid;
    max-width: 100%; /* Ancho máximo del contenedor de pedidos */
    width: 100%;
    justify-content: center; /* Centrar el contenido */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    position: relative; /* Para permitir el posicionamiento absoluto del ícono */
}

header {
    width: 100%;
    position: relative; /* Posicionar el ícono dentro del header */
}

.back-icon {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    position: absolute; /* Posicionamiento absoluto dentro del header */
    top: 10px; /* Ajusta según el espacio que desees desde la parte superior */
    right: 10px; /* Ajusta según el espacio que desees desde el borde derecho */
}

.back-icon:hover {
    color: #000000;
}

h2 {
    margin-top: 20px; /* Aumentar el margen superior */
    font-size: 1.8em;
}


.order-list {
    background-color: white;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid black;
    text-align: left;
    overflow-y: auto;
    max-height: 170px;
    width: 400px;
}

.order-list p {
    margin: 5px 0;
    font-size: 1.3em;
}

button {
    background-color: #ffffff; /* Color de fondo del botón */
    padding: .5rem 1rem; /* Relleno interno del botón */
    color: #000000; /* Color de texto del botón */
    margin: 10px 0; /* Margen superior e inferior */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 100px;
}

button:hover {
    background-color: #d3d3d3;
    color: #000000;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .orders-container {
        grid-template-columns: 1fr; /* Una columna en pantallas más pequeñas */
    }
