/* Estilos generales */
body {
   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #fbfcfc; /* Fondo claro */
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

   
  background-image: url("https://cdn.glitch.global/fc6de9c3-3b09-4138-abd9-3523a30daef9/Presentaci%C3%B3n%20Plan%20de%20Negocio%20Restaurante%20Profesional%20Amarillo.png?v=1744849495923");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Contenedor del formulario */
.form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background: transparent;
  padding: 20px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Estilo del formulario */
form {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 450px;
  margin: 50px auto;
  z-index: 1;
  animation: float 3s ease-in-out infinite; /* Agrega  animación  */
}

/* Estilos de etiquetas y campos de entrada */
.form-group {
  margin-bottom: 20px;
  position: relative;
  text-align: left;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
}


button {
  width: 100%;
  padding: 10px;
  background-color: #0d6efd;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  color:white 
}

button:hover {
  background-color: #fdb00d;
}

/* Enlace de recuperación de contraseña */
.button-container a {
  display: block;
  margin-top: 10px;
  color: #ff8800;
  text-decoration: none;
  font-size: 14px;
}

.button-container a:hover {
  text-decoration: underline;
}

/* Icono de volver atrás */
.back-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: #ff8800;
  text-decoration: none;
}

.back-icon:hover {
  color: #e67300;
}

/* Mensaje de error */
.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

/* Input con ícono dentro */
.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999999;
  font-size: 16px;
  pointer-events: none;
}

.input-icon input {
  padding-left: 35px; /* espacio para el ícono */
}

