body {
    background-color: #fdb00d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fdb00d;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.back-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

.back-icon:hover {
    color: #555;
}

.form-group label {
    font-weight: bold;
}

.form-row {
    margin-bottom: 1rem;
}

.button-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    align-items: center; /* Centrar elementos verticalmente */
    margin-top: 20px; /* Margen superior */
}

button {
    background-color: #fdb00d; /* Color de fondo del botón */
    padding: .5rem 1rem; /* Relleno interno del botón */
    color: #000000; /* Color de texto del botón */
    margin: 10px 0; /* Margen superior e inferior */
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

button:hover {
    background-color: #fdb00d;
    color: #000000;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-row .form-group {
        width: 100%;
    }
}
